.loader {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.7);
	z-index: 2;


	&:before {
		content: '';
		display: block;
		width: 100px;
		height: 100px;
		background-image: url('../../lib/assets/pulse.svg');
		background-repeat: no-repeat;
		background-size: 100px auto;

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
