{
	"extends": [
		"airbnb",
		"prettier"
	],
	"plugins": [
		"prettier"
	],
	"rules": {
		"prettier/prettier": [
			"error"
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"react/jsx-indent-props": [
			"error",
			"tab",
			{
				"ignoredNodes": [
					"JSXAttribute",
					"JSXSpreadAttribute"
				]
			}
		]
	}
}
